<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.post_project.mapper.ArticleMapper">

  <select id="findArticleList" parameterType="Criteria" resultType="ArticleDto">
    SELECT
        id,
        title,
        contents,
        writer,
        reg_date AS regDate
    FROM article
    <if test="keyfield != '' and keyword != ''">
      <trim prefix="WHERE">
        <choose>
          <when test="keyfield == 'writer'">
            writer LIKE CONCAT('%', #{keyword} ,'%')
          </when>
          <when test="keyfield == 'title'">
            title LIKE CONCAT('%', #{keyword} ,'%')
          </when>
          <when test="keyfield == 'contents'">
            contents LIKE CONCAT('%', #{keyword} ,'%')
          </when>
        </choose>
      </trim>
    </if>
    ORDER BY id DESC
  </select>

  <delete id="deleteArticle" parameterType="int">
    DELETE FROM article
    WHERE id = #{id}
  </delete>

  <update id="updateArticle" parameterType="ArticleDto">
    UPDATE article
    SET
      title = #{title},
      contents = #{contents},
      writer = #{writer}
    WHERE id = #{id}
  </update>

  <insert id="insertArticle" parameterType="ArticleDto" useGeneratedKeys="true" keyProperty="id">

    INSERT INTO article (title, contents, writer)
    VALUES (#{title}, #{contents}, #{writer})

  </insert>
  
  <select id="selectArticleList" resultType="ArticleDto">
    SELECT
        id,
        title,
        contents,
        writer,
        reg_date AS regDate
    FROM article
    ORDER BY id DESC
  </select>

  <!-- <select id="selectArticleById" parameterType="int" resultType="ArticleDto">
    SELECT
      id,
      title,
      contents,
      writer,
      reg_date AS regDate
    FROM article
    WHERE id = #{id}
  </select> -->

  <resultMap id="selectArticleByIdResultMap" type="ArticleDto">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="contents" property="contents" />
    <result column="writer" property="writer" />
    <result column="regDate" property="regDate" />
    <association property="user" javaType="UserDto">
      <id column="user_Id" property="id" />
      <result column="email" property="email" />
      <result column="phone" property="phone" />
    </association>
    <collection property="files" ofType="ArticleFileDto">
      <id column="fileId" property="id" />
      <result column="fileName" property="fileName" />
      <result column="fileSize" property="fileSize" />
      <result column="filePath" property="filePath" />
      <result column="articleId" property="articleId" />
    </collection>
  </resultMap>


  <select id="selectArticleById" parameterType="int" resultMap="selectArticleByIdResultMap">
    SELECT
        A.id AS id,
        A.writer AS writer,
        A.contents AS contents,
        A.title AS title,
        A.reg_date AS regDate,
        U.id AS user_Id,
        U.email AS email,
        U.phone AS phone,
        F.id AS fileId,
        F.file_name AS fileName,
        F.file_size AS fileSize,
        F.file_path AS filePath,
        F.article_id AS articleId
    FROM article AS A
    INNER JOIN users AS U ON A.user_id = U.id
    LEFT OUTER JOIN article_file AS F ON F.article_id = A.id
    WHERE A.id = #{id}
  </select>
</mapper>